// TODO: Add better dark/light mode toggle
@mixin input
    border: #ccc 2px solid
    font-size: 1.25rem
    padding: .5rem
    width: 25vw

html,
body,
#root 
    height: 100%
    width: 100%


.navbar 
    display: flex
    justify-content: center
    height: 5%
    header 
        display: flex
        align-items: center
        font-size: 2rem
        gap: 5rem

.navbar-hr 
    border: none
    height: 2.5px
    background-color: #ccc

.statesBox
    height: 40%
    img
        display: block
        margin: auto
        height: 100%
        width: auto
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='5' stroke-dasharray='10%2c12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e")

.inputs
    height: 50%
    display: flex
    flex-direction: column

input.state-input,
button.state-input
    @include input
    width: auto
    transition: border-color 250ms
    border-radius: 0

button.state-input
    width: calc(8.75vw * 1) !important
    border-top-right-radius: 0.25rem
    border-bottom-right-radius: 0.25rem
    &:is(:hover, :focus)
        border: darken(#ccc, 20%) 2px solid
        border-left: #ccc 2px solid

input.state-input
    width: calc(8.75vw * 1.9) !important
    border-right: 0px
    border-top-left-radius: 0.25rem
    border-bottom-left-radius: 0.25rem
    &:is(:hover, :focus)
        outline: none
        border: darken(#ccc, 20%) 2px solid
        border-right: 0px

form.state-input 
    margin: 0.5rem 0
    display: flex
    justify-content: center


.guesses 
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: .5rem
    gap: .5rem
    input 
        @include input
        border-radius: .25rem
        border: #ccc 2px dashed

.correct
    background-color: #419b45
    color: white